* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif
}

header {
    display: flex;
    justify-content:end;
    gap: 5px;
    background-color: rgb(10, 10, 10);
    height: 20px;
}

main {
    height: calc(100vh - 20px - 65px);
    background-color: rgb(10, 10, 10);
}

footer {
    height: 65px;
    background-color: rgb(38, 38, 39);
}

/* LAYOUT */

.container-top {
    max-width: 95%;
    margin: 0 auto;
}

.container-bottom {
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-sm {
    width: calc(100% / 7 - 20px);
    margin: 0 10px 22px 10px;
}

.col-100 {
    width: 100%;
}

.content{
    position: relative;
}

.content img {
    max-width: 100%;
    vertical-align: middle;
}

.p-top-40{
    padding-top: 40px;
}

.p-top-bottom-5{
    padding-top: 5px;
    padding-bottom: 5px
}
/* STYLES */

header button {
    height: 25px;
    padding: 5px;
    background-color: rgb(134, 133, 133);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    font-size: 13px;
    line-height: 1;
}

.muted {
    background-color: rgba(122, 118, 118, 0.514);
    position: absolute;
    bottom: 0;
    padding: 5px;
    color: white;
    font-size: 13px;
    font-weight: bold;
}
.muted img {
    width: 20px;
}
.muted span {
    vertical-align: middle;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.footer-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

footer img {
    width: 25px;
    margin: 0 auto 5px auto;
}

footer span {
    font-size: 14px;
    color: white;
    font-weight: bold;
    text-align: center;
}

.left-footer {
    padding-left: 15px;
}

.arrow {
    font-size: 30px;
    font-weight: bold;
    align-self: end;
}

.right-footer{
    height: 65px;
}

#end-meeting {
    background-color: rgb(116, 113, 113);
    border: none;
    padding: 0 10px;
    height: 100%;
    color: red;
    font-weight: bold;
}


